body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.top-container {
  background-color: #1f2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-logo {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
}

.header-links ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.top-left > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.top-left > p {
  font-size: 18px;
  color: #e5e7eb;
  text-align: left;
}

.top-content {
  display: flex;
  align-items: center;
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0;
}

.top-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.image {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: grey;
  flex-direction: column;
  height: 300px;
  width: 600px;
}

.top-left > button {
  background-color: #3882f6;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

.mid-container {
  text-align: center;
  margin-bottom: 80px;
}

.mid-container > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.mid-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.box {
  border: 3px rgb(38, 160, 208) solid;
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.box-container > p {
  font-size: 18px;
}

.low-container {
  background-color: #e5e7eb;
  padding: 300px;
}

.low-container > q {
  display: flex;
  flex-shrink: 0;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.low-container > p {
  text-align: end;
  font-size: 36px;
  font-weight: bolder;
}

.lower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
}

.lower-content {
  display: flex;
  padding: 20px 50px;
  background-color: #3882f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.lower-content > button {
  background-color: #3882f6;
  border: 3px white solid;
  color: whitesmoke;
  border-radius: 8px;
  padding: 5px 10px;
}

.lower-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer {
  background-color: #1f2937;
  padding: 10px;
  color: #f9faf8;
  text-align: center;
}
